<div class="main-div">

    <form class="form-horizontal" novalidate [formGroup]="form" *ngIf="journey">

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label">English title</label>
                <input class="form-control" formControlName="title_en" type="text">
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">Hebrew title</label>
                <input class="form-control" formControlName="title_he" type="text">
            </div>

        </div>

        <div class="row mt-2">
            <div class="form-group col-md-12">
                <angular2-multiselect [data]="points"
                                      *ngIf="points"
                                      formControlName="points"
                                      [settings]="dropdownSettings">
                </angular2-multiselect>
            </div>
        </div>

        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">Choose picture</label>
                <input class="wide-input" name="logo" (change)="onFileChange($event, 'logo')" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="logo.path" *ngIf="logo.path">
                <img [src]="journey.image" *ngIf="journey.image && !logo.path">
            </div>

        </div>

    <!-- new -->
        <div class="row company-media">

            <div class="form-group col-md-6">
                <label class="col-form-label">Choose inside picture</label>
                <input class="wide-input" name="logo2" (change)="onFileChange($event, 'logo2')" type="file" accept="image/*">
            </div>

            <div class="form-group col-md-6">
                <img [src]="logo2.path" *ngIf="logo2.path">
                <img [src]="journey.imagetwo" *ngIf="journey.imagetwo && !logo2.path">
            </div>

        </div>
        <!-- new -->


        <div class="form-group col-md-6" style="text-align: left !important;">
            <!--<button type="submit" (click)="onSubmit()" class="btn btn-primary">Send</button>-->
            <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">Send</button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>