<div class="main-div">

    <div class="alert alert-success" role="alert" *ngIf="saved">Successfully saved!</div>

    <div class="row m-2"><h3>Username and password</h3></div>

    <form class="form-horizontal" novalidate [formGroup]="form1">

        <div class="row">

            <div class="form-group col-md-4">
                <label class="col-form-label">Username</label>
                <input class="form-control" formControlName="username" type="text">
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label">Password</label>
                <input class="form-control" formControlName="password" type="text">
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label">Email</label>
                <input class="form-control" formControlName="email" type="email">
            </div>


        </div>

        <div class="row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" (click)="onSubmit1()" class="btn btn-primary" [disabled]="form1.invalid">Update</button>
            </div>
        </div>

    </form>

    <div class="row m-2"><h3>Current password for the application</h3></div>

    <form class="form-horizontal" novalidate [formGroup]="form2">

        <div class="row">

            <div class="form-group col-md-12">
                <label class="col-form-label">Password</label>
                <input class="form-control" formControlName="password" type="text">
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" (click)="onSubmit2()" class="btn btn-primary" [disabled]="form2.invalid">Update</button>
            </div>
        </div>

    </form>

</div>







