img, video, audio {
    border: 1px solid black;
}

.custom-row {
    border-bottom: 1px solid grey;
}

th {
    font-weight: normal !important;
}

.width180 {
    min-width: 180px;
}

.width150 {
    min-width: 150px;
}

.width100 {
    min-width: 100px;
}

.width200 {
    min-width: 200px;
}

.width260 {
    min-width: 260px;
}